@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --background: 0 0% 100%;
--foreground: 20 14.3% 4.1%;
--muted: 60 4.8% 95.9%;
--muted-foreground: 25 5.3% 44.7%;
--popover: 0 0% 100%;
--popover-foreground: 20 14.3% 4.1%;
--card: 0 0% 100%;
--card-foreground: 20 14.3% 4.1%;
--border: 20 5.9% 90%;
--input: 20 5.9% 90%;
--primary: 207 90% 54%;
--primary-foreground: 211 100% 99%;
--secondary: 60 4.8% 95.9%;
--secondary-foreground: 24 9.8% 10%;
--accent: 60 4.8% 95.9%;
--accent-foreground: 24 9.8% 10%;
--destructive: 0 84.2% 60.2%;
--destructive-foreground: 60 9.1% 97.8%;
--ring: 20 14.3% 4.1%;
--radius: 0.5rem;
  }
  .dark {
      --background: 220 20% 11%;
--foreground: 0 0% 98%;
--muted: 220 20% 16%;
--muted-foreground: 220 10% 70%;
--popover: 220 20% 9%;
--popover-foreground: 0 0% 98%;
--card: 220 20% 15%;
--card-foreground: 0 0% 98%;
--border: 220 15% 20%;
--input: 220 20% 16%;
--primary: 184 80% 50%;
--primary-foreground: 210 40% 98%;
--secondary: 220 20% 20%;
--secondary-foreground: 0 0% 98%;
--accent: 220 20% 18%;
--accent-foreground: 0 0% 98%;
--destructive: 0 62.8% 50%;
--destructive-foreground: 0 0% 98%;
--success: 142 70% 45%;
--success-foreground: 0 0% 98%;
--ring: 220 14% 40%;
--radius: 0.5rem;
  }

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}